<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="CONNECT" connectionString="Data Source=DESKTOP-5CB2A80\SQLEXPRESS;Initial Catalog=OS;Integrated Security=True" />
    <!--<add name="CONNECT" connectionString="Data Source=OS.sdf; Password=OS@#961" />-->
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="SecurityKey" value="Pandurang Lad"/>
  </appSettings>
</configuration>